:root {
  --primary: rgba(0, 0, 0, 1);
  --secondary: rgba(96, 103, 120, 1);
  --white: rgba(255, 255, 255, 1);
  --border: rgba(230, 237, 255, 1);
  --indigo: rgba(52, 122, 226, 1);
  --red: rgba(255, 59, 48, 1);
  --green: rgba(52, 199, 89, 1);
  --orange: rgba(255, 149, 0, 1);
  --large-title-font-family: "Poppins-Medium", Helvetica;
  --large-title-font-weight: 500;
  --large-title-font-size: 28px;
  --large-title-letter-spacing: 0px;
  --large-title-line-height: 150%;
  --large-title-font-style: normal;
  --title-1-font-family: "Poppins-Medium", Helvetica;
  --title-1-font-weight: 500;
  --title-1-font-size: 20px;
  --title-1-letter-spacing: 0px;
  --title-1-line-height: 150%;
  --title-1-font-style: normal;
  --headline-font-family: "Poppins-Medium", Helvetica;
  --headline-font-weight: 500;
  --headline-font-size: 16px;
  --headline-letter-spacing: 0px;
  --headline-line-height: 150%;
  --headline-font-style: normal;
  --body-font-family: "Poppins-Regular", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 16px;
  --body-letter-spacing: 0px;
  --body-line-height: 150%;
  --body-font-style: normal;
  --footnote-font-family: "Poppins-Regular", Helvetica;
  --footnote-font-weight: 400;
  --footnote-font-size: 14px;
  --footnote-letter-spacing: 0px;
  --footnote-line-height: 150%;
  --footnote-font-style: normal;
  --caption-regular-font-family: "Poppins-Regular", Helvetica;
  --caption-regular-font-weight: 400;
  --caption-regular-font-size: 12px;
  --caption-regular-letter-spacing: 0px;
  --caption-regular-line-height: 150%;
  --caption-regular-font-style: normal;
  --caption-medium-font-family: "Poppins-Medium", Helvetica;
  --caption-medium-font-weight: 500;
  --caption-medium-font-size: 12px;
  --caption-medium-letter-spacing: 0px;
  --caption-medium-line-height: 150%;
  --caption-medium-font-style: normal;
  --shadow: 0px 2px 10px 0px rgba(124, 141, 181, 0.12);
}
