{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/signup.css')}}" />
{% endblock %}


{% block body %}
<div class="sign-up">
    <div class="div">
        <img class="ready-to-make-an" src="static/images/ready-to-make-an-impact.png" />
        <div class="logo">
            <img class="icon" src="static/images/icon-1.svg" />
            <div class="aeon">Greenapp</div>
        </div>
        <form action="/signup" method="POST">
            <div class="form-element">
                <label for="username" class="label">Username</label>
                <input name="username" id="username" class="input">
            </div>
            <div class="form-element-3">
                <label for="email" class="label">Email</label>
                <input name="email" id="email" class="input">
            </div>
            <div class="form-element-4">
                <label for="password" class="label">Password</label>
                <input name="password" id="password" class="input">
            </div>
            <div class="form-element-2">
                <label for="city" class="label">City</label>
                <input name="city" id="city" class="input">
            </div>
            <input type="submit" value="Register" class="log-in-button">
        </form>
    </div>
</div>
{% endblock %}